body{
    background-color: #000000;
    margin: 0;
}
header {
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: #0F4C75;
}
.container {
    padding: 0% 0%;
    display: grid;
}
.menu {
    background-color: #0F4C75;
    margin-top: 2%;
    padding: 0px;
    
}
.menu ul {    
    text-align: center;
}
.menu ul li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;  /* Itens o menu serão exibidos lado a lado */
    margin-right: 10%; 
    font-size: 20px; 
         
}
.menu ul li a {
    color: #f6f6f6; 
    font-weight: bold; 
    
}
.menu ul li a:hover {
    background-color: #3282B8; /*Destaque ao passar o mouse sobre o menu*/
}
.welcome{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f6f6f6;
}
.welcome h2{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.welcome p{
    text-align: justify;
    font-size: large;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 35px;
    box-shadow: 0 6px 8px #0F4C75; /* Efeito de sombra para dar um destaque ao design */
    margin: 15px;
}
a,a:link {
    text-decoration: none; /* Remoção dos sublinhados nos links*/
    padding: 8px 16px;
    border: none;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    color: #f6f6f6;
    padding: 3%;
    margin: 15px; 
    border-radius: 35px;
    box-shadow: 0 6px 8px #0F4C75; /* Efeito de sombra para dar um destaque ao design */
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    font-style: italic;
    text-decoration: underline;
    color: #f6f6f6;
    margin: 15px;
    border-radius: 35px;
    box-shadow: 0 6px 8px #0F4C75; /* Efeito de sombra para dar um destaque ao design */
}
.foto_perfil img {
    grid-column-start: 1;
    grid-column-end: 5;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 8px #0F4C75; /* Efeito de sombra para dar um destaque ao design */

}
.principal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column-start: 7;
    grid-column-end: 12;
    text-align: justify;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 35px;
    box-shadow: 0 6px 8px #0F4C75; /* Efeito de sombra para dar um destaque ao design */
    margin: 15px;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f6f6f6;
    margin: 15px;
    
}
.formacao{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f6f6f6;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 35px;
    box-shadow: 0 6px 8px #0F4C75; /* Efeito de sombra para dar um destaque ao design */
    margin: 15px;
}
.portfolio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f6f6f6;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 35px;
    box-shadow: 0 6px 8px #0F4C75; /* Efeito de sombra para dar um destaque ao design */
    margin: 15px;
}
.portfolio img {   
    border-radius: 10%;
    padding-top: 0%;
    width: 40px;
    height: 40px;
}
.recado{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f6f6f6;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 35px;
    margin: 15px;
    box-shadow: 0 6px 8px #0F4C75; /* Efeito de sombra para dar um destaque ao design */
    

}
.contato{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f6f6f6;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 35px;
    box-shadow: 0 6px 8px #0F4C75; /* Efeito de sombra para dar um destaque ao design */
    margin: 15px;
}
.enviar{
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 6px #0F4C75;
}
.enviar:hover {  
    background-color: #3282B8; /* Altera a cor do botão enviar ao passar o mouse por cima dele */
    color: black;
}
label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f6f6f6;
}
#nome {
    box-shadow: 0 6px 8px #0F4C75; /* Efeito de sombra para dar um destaque ao design */
}
#email {
    box-shadow: 0 6px 8px #0F4C75;  /* Efeito de sombra para dar um destaque ao design */
}

#mensagem {
    box-shadow: 0 6px 8px #0F4C75; /* Efeito de sombra para dar um destaque ao design */
}
footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f6f6f6;
    font-size: smaller;
    text-align: center;
}
@media only screen and (max-width: 767px){
    body{
        background-color: #000000;
        margin: 0;
    }
    .menu {
        background-color: #0F4C75;
        margin-top: 2%;
        padding: 0px;
        
    }
    .menu ul {    
        text-align: center;
    }
    .menu ul li {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: inline;  /* Itens o menu serão exibidos lado a lado */
        margin-right: 10%; 
        font-size: 20px; 
             
    }
    .menu ul li a {
        color: #f6f6f6; 
        font-weight: bold; 
        
    }
    .menu ul li a:hover {
        background-color: #3282B8; /*Destaque ao passar o mouse sobre o menu*/
    }
}

